html, body {
    overflow: hidden; 
    height: 100%; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

:root {
  --app-height: 100vh;
}

@supports (height: 100dvh) {
  :root {
    --app-height: 100dvh;
  }
}